button {
    font-family: Segoe, Helvetica, Arial, sans-serif;
    border: 0;
    border-radius: 3px;
    text-tranfsorm: uppercase;
}

.btn-primary {
    background-color: #c20;
    color: #fff;
     
}

.btn-regular {
    height: 30px;
    padding: 10px 20px; 
    font-size: 10px;
}

.btn-test
{
    background-color: lime-green;
    height: 50px;
    padding: 10px 20px; 
    font-size: 10px;
}
